.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    padding: 5px 120px; 
  font-size: 40px; 
  }
.form-control {
    border-radius: 30px; 
    padding: 10px 20px; 
    font-size: 16px; 
}
  
.btn {
    border-radius: 30px; 
    font-size: 16px; 
    margin-left: 10px;
}

.icon {
    display: flex;
    align-items: center;
    margin-top: 80px;
  }

  .icon svg {
    width: 200px;
    height: auto;
    margin-right: 80px; 
  }


.red-icon {
    color: red; /* Establece el color rojo que deseas */
  }

.card-max-guests {
    display: none;
}

 /* 
.card-description {
    display: none;
}
*/

.card-details {
    position: relative;
  }
  
  .card-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-top-left-radius: 5px;
    font-weight: bold; /* Si deseas hacer el rating más visible */
  }

.yellow-icon {
    color: yellow;
    font-size: 35px;
  }
  
  
  